nextflow.enable.dsl=2

params {
  reference   = null
  reads       = null
  model_path  = null
  sample      = null
  outdir      = "results"
  threads     = 8
  platform        = "hifi"
  minimap2_preset = "map-hifi"
  clair3_args = ""
  use_local_sifs = false
  sif_minimap2   = "${projectDir}/containers/minimap2.sif"
  sif_samtools   = "${projectDir}/containers/samtools.sif"
  sif_clair3     = "${projectDir}/containers/clair3.sif"
}

process {
  cpus = params.threads
  withName: "SETUP_CHECK"         { memory = '1 GB';  time = '10m' }
  withName: "INDEX_REF_MINIMAP2"  { memory = '2 GB';  time = '2h'  }
  withName: "ALIGN_MINIMAP2"      { memory = '8 GB';  time = '6h'  }
  withName: "SORT_INDEX_SAMTOOLS" { memory = '8 GB';  time = '6h'  }
  withName: "CALL_VARIANTS_CLAIR3"{ memory = '16 GB'; time = '12h' }
}

singularity {
  enabled    = true
  autoMounts = true
  cacheDir   = "${projectDir}/.singularity_cache"
}

profiles {
  singularity {
    process.executor = 'local'
  }
}
